.content {
	display: none;
	padding-bottom: 30px;
	margin-left:40px;
}

#faq-title,#notice-title {
	font-size: 25px;
	float: left;
	margin: 20px;
}

#faqlist{
	margin: 0 auto;	
}

#main{
	width:1020px;
	margin: 0 auto;
}

.faq-content {
	width:1020px;
	border-bottom: 1px solid #e0e0e0;
	margin-left : -28px;
}

.faq {
	font-size: 19px;
	padding: 30px 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	width: 100%;
	text-align: left;
}

.faq:hover {
	color: #2962ff;
}

[id$="-toggle"] {
	margin-right: 15px;
}

#menu{
	width: 1020px;
	height: 80px;	
	background: #4285f4;
	margin: 0 auto;
}

#menu ul li{
	float: left;
	width: 25%;
	height: 50px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

#faqul {
	margin-left:-10px;
}

.toggle{
	margin-left:20px;
}
