body {
    padding: 0;
    margin: 0;
}
header {
    width: 1020px;
    position: relative;
    height: 115px;
    margin: 0 auto;
    padding-top: 32px;
    background: #fff;
    
}
.catagory-menu{
    position: relative;
}

.dropmenu{

    position : absolute;
    overflow: auto;
    z-index : 1;
    border: 1px solid black;
    text-align: left;
    background-color:#fff;
    width: 560px;
    height: auto;
    font-weight: bold;
}

section {
    display: flex;
    width: 840px;
    height: 91px;
    margin: 0 auto;
}

.top-nav {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 32px;
    z-index: 3;
}

.right-nav {
    display: flex;
    margin: 3px 100px;
    font-size: 0.5rem;
    margin-left: 71.3%;    
}

.right-nav li {
    margin: 5px;
}


li {
    list-style: none;

}

.logo {
    margin-top: 2em;
    margin-left: 2em;
}

.search-box {
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    border: 2px solid #4285f4;
    padding: 5px;
    width: 400px;
}

.search-box select {
    color: gray;
    border: none;
    text-align: center;
}

.search-box option {

    border: none;
}

.search-box input[type="text"] {
    color: gray;
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.search-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


a {
    text-decoration: none;
    color: black;
}



.icon-menu {

    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.icon-menu li {
    display: inline-block;
    margin: 0 10px;

}

.icon-menu li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.icon-menu li span {
    padding-top: 10%;
    width: 70px;
}

.icon-menu li img {
    width: 50px;
    height: 30px;
}

.menu {
    position: absolute;
    top: 60%;
    left: 32%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.menu li {
    margin: 0 20px;
}

nav ul {
    display: flex;
}




main {
    position: relative;
    margin: 0 auto;

}

