body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none !important;
    color: black !important;
}

.container{
    height: auto;
    min-height: 100vh;
    position: relative;
}

header {
    width: 1020px;
    position: relative;
    height: 115px;
    margin: 0 auto;
    padding-top: 32px;
    background: #fff;

}
.top-nav {
    
    background-color: #f0f0f0;
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    height: 40px;
    z-index: 3;
}

.right-nav {
    display: flex;
    float: right;
    margin: -3px 110px;
    font-size: 1rem;
}

.right-nav li{
    margin: 10px;
}

.main-bar {
    display: flex;    
    
}


/************* 카테고리 쪽 효과*******************/
.catagory-menu:hover .side-bar{
    display: block;
}

.side-bar ul li:hover ul{
    display: block;
}

.side-bar{
    position: absolute;
    display: none;
    
}

.side-bar ul ul{
    display: none;
    width: 400%;
}
/**************카테고리 쪽 효과 끝**************** */


li {
    list-style: none;
}

.logo {

    margin-top: 2em;
    margin-left: 2em;
}

.search-box {
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    border: 2px solid #4285f4;
    padding: 5px;
    width: 400px;
}

.search-box select {
    color: gray;
    border: none;
    text-align: center;
}

.search-box option {
    border: none;
}

.search-box input[type="text"] {
    color: gray;
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.search-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.icon-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 20px;
}
.icon-menu li {
    display: inline-block;
    margin: 5px;
}

.icon-menu li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.icon-menu li span {
    padding-top: 10%;
    width: 60px;
}

.icon-menu li img {
    width: 30px;
    height: 30px;
}
.icon-menu span{
    font-size: 0.7rem;
    text-align: center;
}

.menu {
    position: absolute;
    top: 60%;
    left: 10%;
    display: flex;
    margin: 35px auto;
	
}

.menu li {
    margin: 0 20px;
}

nav ul {
    display: flex;
}



/*===========*/
 a {
    color: inherit;   
    text-decoration: none;    
  }
  
  .side-bar > ul ul {
    display: none;
  }
  /* 사이드바의 너비와 높이를 변수를 통해 통제 */
  :root {
    --side-bar-width: 270px;
    --side-bar-height: auto;
  }
  
  .side-bar {
    background-color: black;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    margin-top: calc((100vh - var(--side-bar-height)) / 2);    /* 사이드바 위와 아래의 마진을 동일하게 지정 */
  }


  /* 모든 메뉴의 a에 속성값 부여 */
  .side-bar ul > li > a {
    display: block;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    transition: .5s;
  }
  
  /* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
  .side-bar > ul > li {
    position: relative;
  }
  
  /* 모든 메뉴가 마우스 인식 시 반응 */
  .side-bar ul > li:hover > a {
    background-color: #555;
    border-bottom: 1px solid #999;
  }
  
  /* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
  .side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #888;
    top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
    left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 100%;    /* 1차 메뉴의 너비를 상속 */
  }
  
  /* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
  .side-bar {
    border-radius: 20px;
   
    transition: .5s;
  }
  
  /* 마우스 인식 시 원래의 위치로 이동 */
  .side-bar:hover {
    transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 숨겨주기 */
  }
  /* 사이드바 끝 */
  
  /* 커스텀 끝 */



