main {
    position: relative;
    margin: 0 auto;    
}

.main_section1 {	
	margin-top: 40px;
}

.main-grid{
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 100px;
  margin: 0 auto;
    margin-top: 0px;
  width: 1024px;
  margin-top: 200px;
}