.container{
	 margin: 0 auto;	
}

 body{            
    display: flex;
 }
	
  .main{  	
    height: auto;
    min-height: 100vh;
    position: relative;
  }

  #top-nav {
      background-color: rgb(66, 133, 244); 
      color: white;
      width: 1028px;
      height: 70px;
  }
  
  #side-menu {
      background-color: rgb(249, 249, 249);              
      width: 190px; 
      height: 600px;
      float: left;
      color: black;                            
  }
            
  #mypage-section {
      /* background-color: lightgreen; */
      color: black;
      width: 838px; 
      height: 600px;
      float: left;
  }  
  
  ul{
    list-style-type: none;
    text-align: left;
    margin-left: -30px;
    list-style-position: inside;
  }

  #top-side {
    font-weight: bold;
    padding-bottom: 30px;    
  }
  
  #side-menu-list{
    margin-top: 25px;
  }

  a {
    text-decoration: none; 
    color: black;
  }
  
   #side-menu a:active, a:hover {	
    color: rgb(61, 130, 247);       
  } 
  
  .top-mypage {  	
  	margin: 60px;  	
  }