@import url( 
"https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&family=Spartan:wght@400;700&display=swap"); 

#menu{
	background: #4285f4;
}

#asd123 {
	display: flex;
	flex-flow : row nowrap;
	justify-content: space-around;
	
}
 .container123 { 
            position: absolute; 
            top: 25%; 
            left: 50%; 
            transform: translate(-50%, -20%); 
            width: 60%; 
        } 
  
        h1 { 
            text-align: center; 
            font-family: "Roboto Slab", serif; 
            font-size: 40px; 
        } 
  
        .faq { 
            list-style: none; 
            margin-bottom: 20px; 
            padding: 15px; 
            border-bottom: 2px solid #6d6b6b; 
        } 
  
        .question { 
            font-family: "Spartan", sans-serif; 
            font-size: 20px; 
            font-weight: 600; 
            margin-bottom: 10px; 
            position: relative; 
            color: #5c5a5a; 
        } 
  
        .icon-main { 
            position: absolute; 
            right: 0px; 
            cursor: pointer; 
        } 
  
        .non-active { 
            display: none; 
        } 
  
        .answer { 
            font-size: 17px; 
            font-family: "Spartan", sans-serif; 
        }

button {
    margin: 10px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-blue {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn-blue-outline {
    border: 3px solid #6aafe6;
    color: #6e6e6e;
}

.w-btn-blue-outline:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}
