@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

 .div-update-main {
	margin-left: -20px;
	margin-top:-10px;
    
} 

.sec-update-main {
    width: 780px;
    height: 600px;
    background-color: white;
    justify-content: center;
    
    
}

.div-table {
    margin-top: 40px;
}

.memberupdate-table {
    /* border: 1px solid rgb(213, 214, 213); */
    font-size: 14px;
    margin: 0 auto;
    border-collapse: collapse;
    width: 750px;
    height: 500px;
    border-right: none;
    border-left: none;
}

h1 {
    margin-left: 35px;
}

th,
td {
    border: 1px solid #a19f9f;
}

th {
    background-color: #efefef;
    text-align: left;
    padding-left: 20px;
}

table th:first-child,
table td:first-child {
    border-left: 0;
}

table th:last-child,
table td:last-child {
    border-right: 0;
}

.row1,
.row2 {
    height: 56px;
}

td {
    padding-left: 30px;
}
input{
    border-radius: 5px;
}
#submit-btn{
	float:right;            
    margin: 0 auto;
    margin-top: 30px;
    width: 60px;
}

