

.seller-main {	
	padding-top:30px;
	height: auto;
	min-height: 100vh;
}

ul {
	list-style-type: none;
	text-align: left;
	margin-left: -30px;
	list-style-position: inside;
}


#side-menu-list {
	margin-top: 25px;
}

a {
	text-decoration: none;
	color: black;
}

h1{
	text-align: center;
}


#side-menu a:active, a:hover {
	color: rgb(61, 130, 247);
}

/* #top-button, .table table-sm table-bordered {
	display: flex;
	justify-content: right;
	padding: 10px;
} */